
# Path to the backup sites TOML file
#SITES_TOML_PATH=/etc/wback.toml

# Storage path defaults to current working directory - use this to over-ride the default
#LARAVEL_STORAGE_PATH=

# Path to mysqldump executable
#BACKUP_MYSQLDUMP_PATH=/usr/bin/mysqldump

# Default character set for database
#BACKUP_DEFAULT_CHARSET=utf8mb4

# Whether to use --hex-blob option on database dumps
#BACKUP_MYSQLDUMP_HEXBLOB=true

# Path to gzip executable
#BACKUP_GZIP_PATH=/bin/gzip

# Path to zip executable
#BACKUP_ZIP_PATH=/usr/bin/zip

# Path to rclone executable
#BACKUP_RCLONE_PATH=/usr/bin/rclone

# rclone remote for storing file backups when using cloud command in format: remote:path_prefix
#BACKUP_CLOUD_REMOTE=

# rclone remote for storing sync backups when using sync command in format: remote:path_prefix
#BACKUP_SYNC_REMOTE=

# How many days to keep local backup files for.
# Files older than this will be removed from 'files' and 'database' directories during a clean command
#BACKUP_KEEPONLY_DAYS=7

# Schedule start time - scheduled commands will run based on offset specified for each command starting at this time in local timezone
#SCHEDULE_START=3

# Base path to backup files from
#FILES_ROOT=/srv/www

# Base path to backup files to
#BACKUP_DEST_PATH=backup

# Log channel
#LOG_CHANNEL=stack

# Log stack if using channel "stack"
#LOG_STACK=

# Log storage path
#LOG_STORAGE_PATH=wback.log

# Log level for daily and single log channels
#LOG_LEVEL=debug

# Slack webhook URL for sending logs
#LOG_SLACK_WEBHOOK_URL=

# Log level for slack logs
#LOG_SLACK_LEVEL=critical
